<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>跟手动画.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B88C59BD1C316AF80026247D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B88C59D61C316AF80026247D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B88C59E11C316AF80026247D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
